<footer>
  <div class="container">
    <p>
      Hecho con ❤️ por Alumnos <br /><br />
      Universidad Autónoma De Chiapas
    </p>
  </div>
</footer>

<style>
  footer {
    margin-top: 32px;
    padding: 20px 0;
  }
  footer p {
    margin: 0;
    text-align: center;
  }
</style>
